@{
    ViewData["Title"] = "Home Page";
    var bookings = ViewData["Bookings"] as Booking[];
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

@if (bookings != null && bookings.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Адрес парковки</th>
                <th>Номер парковочного места</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Статус брони</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in bookings)
            {
                var nowUtc = DateTime.UtcNow; 
                var startUtc = booking.StartTime.ToUniversalTime(); 
                var endUtc = booking.EndTime.ToUniversalTime();

                var timeZone = TimeZoneInfo.FindSystemTimeZoneById("Europe/Moscow"); 
                var startLocal = TimeZoneInfo.ConvertTimeFromUtc(startUtc, timeZone);
                var endLocal = TimeZoneInfo.ConvertTimeFromUtc(endUtc, timeZone);
                <tr>
                    <td>@booking.ParkingSpot.Parking.Address</td>
                    <td>@booking.ParkingSpot.Number</td>
                    <td>@startLocal.ToString("dd-MM-yyyy HH:mm")</td> 
                    <td>@endLocal.ToString("dd-MM-yyyy HH:mm")</td>
                    @if (booking.Status != BookingStatus.Cancelled)
                    {
                        @if (startUtc > nowUtc)
                        {
                            <td>Ожидает</td>
                            <td>
                                <form method="post" asp-action="CancelBooking" asp-controller="Home">
                                    <input type="hidden" name="BookingId" value="@booking.Id">
                                    <button type="submit" class="btn btn-danger">Отменить</button>
                                </form>
                            </td>
                        }
                        else if (startUtc <= nowUtc && endUtc > nowUtc)
                        {
                            <td>В процессе</td>
                        }
                        else
                        {
                            <td>Завершено</td>
                        }
                    }
                    else
                    {
                        <td>Отменен</td>
                    }
                    
                </tr>


            }
        </tbody>
    </table>
}
else
{
    <h2>У вас нет активных броней.</h2>
}
